@import "../../variables";
.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  .arrow-slide {
    font-size: 32px;
    border: none;
  }
  .btn-arrow {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    button {
      height: 450px;
      border: none;
      cursor: pointer;
    }
  }

  a {
    padding: 0;
    margin: 0;
  }

  .silder {
    height: 450px;
    width: 90%;

    .silder-group {
      position: relative;

      a:before {
        background: none;
        background-color: none;
      }
      a:hover + .silder-over-image {
        opacity: 1;
        transition: opacity 0.3s;
      }

      .silder-image {
        width: 100%;
        height: 380px;
        object-fit: cover;
      }
    }
  }

  .slick-slider ul {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  svg {
    fill: $a-primary;
  }
  .custom-dots {
    padding: 0; // Remove default padding
    display: inline;
    width: 100%;
    list-style-type: none;
    margin: 0; // Remove default margin
    li {
      display: inline;
      button {
        display: none;
        border: none;
      }
      &::after {
        content: ""; // Change the content of the pseudo-element
        display: inline-block;
        width: 5px; // Adjust width as needed
        height: 5px; // Adjust height as needed
        background-color: $secondary; // Customize dot color
        border-radius: 50%; // Make it circular
        margin: 0 2px;
      }
    }
    .slick-active {
      &::after {
        background-color: $a-secondary;
        width: 7px; // Adjust width as needed
        height: 7px;
        // Customize active dot color
      }
    }
  }
}
